#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.listQuote li {
  list-style: none;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
}

.author {
  cursor: pointer;
}

div.author:hover {
  background-color: #646cff;
  border-radius: 30px;
}